.msgOne, .msgTwo, .msgThree{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.msgOne> p, .msgThree>p{
    color: white;
}

.msgOne>p, .msgTwo>p, .msgThree>p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


@media(max-width: 900px){
    .msgOne>p, .msgTwo>p, .msgThree>p{
    font-size: 1.3rem;
    }
}

.getStarted{
    margin-top: 20px;
    border-color: white;
}