.msgOne {
  height: 300px;
}

.msgOne > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 900px) {
  .msgOne > div {
    margin-bottom: 20px;
  }
}

.msgOne > div > .transaction {
  color: white;
}

.msgOne > div > .transaction > p:nth-child(1) {
  text-align: center;
  font-size: 2.7rem;
}

@media (min-width: 900px) {
  .msgOne > div > .transaction > p:nth-child(1) {
    font-size: 4rem;
  }
}

.msgOne > div > .transaction > p:nth-child(2) {
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  .msgOne > div > .transaction > p:nth-child(2) {
    font-size: 1.5rem;
  }
}

.msgOne > div > .withdrawal {
  color: white;
}

.msgOne > div > .withdrawal > p:nth-child(1) {
  text-align: center;
  font-size: 2.7rem;
}

@media (min-width: 900px) {
  .msgOne > div > .withdrawal > p:nth-child(1) {
    font-size: 4rem;
  }
}

.msgOne > div > .withdrawal > p:nth-child(2) {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 900px) {
  .msgOne > div > .withdrawal > p:nth-child(2) {
    font-size: 1.5rem;
  }
}

.msgOne > div > .border {
  height: 110px;
  width: 5px;
  border-radius: 15px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 900px) {
  .msgOne > div > .border {
    height: 170px;
    width: 7px;
    border-radius: 15px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.msgOne > p {
  color: white;
  text-align: center;
}

.msgOne > p > span {
  color: #890404;
}

.msgTwo {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prosList {
  list-style-type: circle;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
  .prosList {
    width: max-content;
  }
  li {
    font-size: 1.2rem;
  }
}
