.msgOne {
  height: 300px;
}

.msgTwo {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prosList {
  list-style-type: circle;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
  .prosList {
    width: max-content;
  }
  li {
    font-size: 1.2rem;
  }
}
