@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 0;
}

/* For WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    height: 2px;
  }
}

@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}

/*button styles*/

.btn-primary {
  background-color: rgba(165, 126, 93, 1);
  color: white;
}
button:hover {
  opacity: 0.9;
}

/*table styles*/

table {
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid grey;
}

@media (max-width: 900px) {
  th,
  td {
    font-size: 0.8rem;
  }
}

tr:nth-of-type(even) {
  background-color: lightgrey;
}
